<?xml version="1.0" ?>
<robot name="My robot">
    <webots>
        <!-- Primeiro robô: my_robot -->
        <device reference="ds0" type="DistanceSensor">
            <ros>
                <topicName>/left_sensor</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <device reference="ds1" type="DistanceSensor">
            <ros>
                <topicName>/right_sensor</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <plugin type="my_robot_driver::MyRobotDriver" />

        <!-- Segundo robô: my_robot_2 -->
        <device reference="ds2" type="DistanceSensor">
            <ros>
                <topicName>/robot2/left_sensor</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <device reference="ds3" type="DistanceSensor">
            <ros>
                <topicName>/robot2/right_sensor</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <plugin type="my_robot_driver::MyRobotDriver" />
    </webots>
</robot>